@media (min-width: 2560px) {
  .labomba {
    header {
      &::after {
        right: 30%;
      }
    }

    #portfolio {
      &::before {
        right: 70%;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
  .labomba {
    h2 {
      font-size: rem(150);
      margin-top: 0em;

      &::before {
        font-size: rem(180);
      }
    }

    // Header
    header {
      margin-bottom: 7em;

      &::after {
        right: 5%;
      }

      .logo-detail {
        bottom: 7em;
        left: 4em;
      }
    }

    // Portfólio
    #portfolio {
      &::before {
        left: -19em;
      }
    }

    // Call to Action
    #cta {
      padding: 3em 0;

      .text {
        margin-left: 4em;

        p {
          max-width: 500px;
        }
      }
    }

    // Rodapé
    footer {
      #informacoes-rodape {
        &::after {
          right: 1em;
          bottom: 4em;
        }
      }
    }

    // Explicação
    #explicacao {
      padding-top: 2em;
    }

    // Branding
    #branding {
      padding-top: 3em;
      padding-bottom: 0;
    }
  }

  .labomba .services-page {
    &::after {
      margin-top: -3em;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 1025px) {
  .labomba {
    h2 {
      font-size: rem(120);
      margin-top: 0em;

      &::before {
        font-size: rem(180);
      }
    }

    #infos {
      text-align: left;

      .social {
        margin: 0;
        padding: 0;
      }
    }

    // Header
    header {
      margin-bottom: 8em;
      min-height: 565px;

      &::before {
        content: none;
      }

      &::after {
        right: 0%;
      }

      .menu {
        padding-top: 2em;
      }

      .logo-detail {
        display: none;
      }
    }

    // Portfólio
    #portfolio {
      padding-top: 3em;

      &::before {
        left: -19em;
      }

      .subir {
        margin-top: -4em;
      }
    }

    // Call to Action
    #cta {
      padding: 3em 0;

      .text {
        margin-left: 4em;

        h2 {
          font-size: 4.5em;
          line-height: 1em;
        }

        p {
          max-width: 500px;
        }
      }
    }

    // Rodapé
    footer {
      h4 {
        padding-top: 1em;
        padding-right: 0.5em;
      }

      #informacoes-rodape {
        margin: 0 auto;
        padding-top: 1em;

        &::after {
          right: 1em;
          bottom: 6em;
        }
      }
    }

    // Explicação
    #explicacao {
      padding-top: 2em;
    }

    // Branding
    #branding {
      padding-top: 3em;
      padding-bottom: 0;
    }
  }

  .labomba .contato {
    &::after {
      top: 35em;
    }
  }

  // Header Blog
  .labomba .blog {
    h2 {
      padding-top: 0;
    }

    .logo-detail {
      bottom: 8em;
      left: 9em;
      max-width: 200px;
    }
  }

  // Services Page
  .labomba .services-page {
    &::after {
      margin-top: -6em;
    }
  }

  .blogPage {
    margin-top: 9em;

    .destaque {
      display: flex;
    }
  }

  // Header Blog
  .labomba .category {
    min-height: 360px;
    padding-bottom: 0;
    margin-bottom: 8em;

    h2 {
      padding-top: 0;
      font-size: 4em;
      line-height: normal;
    }

    p {
      padding-top: 0;
    }

    .logo-detail {
      bottom: 4em;
      left: 9em;
      max-width: 200px;
    }
  }

  // Single
  .labomba .single-post {
    margin-bottom: 8em;

    .logo-detail {
      bottom: 4em;
      left: 9em;
      max-width: 200px;
    }

    h2 {
      font-size: rem(30);
      line-height: rem(35);
      margin-bottom: 0.5em;
    }
  }
}

@media (max-width: 768px) {
  // Single
  .labomba .single-post {
    .logo-detail {
      display: none;
    }

    h2 {
      font-size: rem(30);
      line-height: rem(35);
      margin-bottom: 0.5em;
      margin-top: 1em;
    }
  }

  // Header Blog
  .labomba .blog {
    h2 {
      padding-top: 0;
    }

    .logo-detail {
      display: none;
    }
  }

  .blogPage {
    margin-top: 9em;

    .destaque {
      display: flex;
    }
  }

  // Header Blog
  .labomba .category {
    min-height: 280px;
    padding-bottom: 0;
    margin-bottom: 8em;

    h2 {
      padding-top: 0;
      font-size: 4em;
      line-height: normal;
    }

    p {
      padding-top: 3em;
    }

    .logo-detail {
      display: none;
    }
  }

  // Conteúdo da Postagem
  #blog-text {
    #text {
      margin-top: 7em;
    }

    .conteudo {
      h2 {
        line-height: normal;
      }
    }
  }

  // Services Page
  .labomba .services-page {
    &::after {
      margin-top: -4em;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .error-search {
    margin: 5em 0;
  }

  .blogPage {
    margin-top: 1em;

    .busca-mobile {
      display: block;
      margin: 0 1em;
    }

    .destaque {
      display: none;
    }
  }

  .labomba {
    p {
      text-indent: 0;
    }

    #explicacao {
      p {
        font-size: rem(16);
      }
    }

    h2 {
      font-size: rem(70);
      letter-spacing: -10px;
      line-height: rem(100);
      padding: 0;

      &::before {
        font-size: rem(120);
      }
    }

    .seta {
      max-width: 80px;
      margin: 0 auto;
      padding: 3em 0;
    }

    // Header
    header {
      margin-bottom: 5em;

      &::before,
      &::after {
        content: none;
      }

      #info {
        margin-top: 0;
        margin-left: 0.5em;
      }

      .menu {
        text-align: center;

        button {
          border: none;
          padding: 0;
        }

        .active .nav-link {
          padding: 0.3em 0;
          font-size: rem(30);
        }
      }
    }

    // Serviços
    #servicos {
      padding: 0;
      text-align: center;

      .servico {
        padding-bottom: 5em;

        p {
          margin: 0.3em 0;
          padding-bottom: 1em;
          max-width: 100%;
          min-height: 100%;
        }
      }
    }

    // Portfólio
    #portfolio {
      padding-top: 3em;

      &::before {
        content: none;
      }

      .subir {
        margin-top: 0em;
      }
    }

    // Branding
    #branding {
      padding: 2em 0;
    }

    // Call to Action
    #cta {
      padding: 3em 0;
      background-image: none;

      .text {
        margin-left: 3em;
        h2 {
          font-size: rem(80);
          letter-spacing: normal;
          line-height: rem(80);
        }

        p {
          max-width: 400px;
        }
        img {
          margin-top: 2em;
          width: 135px;
        }
      }
    }

    // Rodapé
    footer {
      text-align: center;

      h4 {
        text-align: center;
        padding-right: 0em;
        margin: 0 auto;
        padding-top: 1em;
      }

      .infos {
        text-align: center;
      }

      #informacoes-rodape {
        padding-right: 0;
        padding-left: 0;

        &::after {
          content: none;
        }

        li {
          width: 100%;
        }
      }
    }
  }

  // Services Page
  .labomba .services-page {
    margin-bottom: 5em;
  }

  // Contato
  .labomba .contato {
    padding: 0;
    max-height: 1300px;

    &::before,
    &::after {
      content: none;
    }

    .subir {
      margin: 2em 0;
    }
  }

  // Header Blog
  .labomba .blog,
  .labomba .category {
    min-height: max-content;
    padding-bottom: 1em;
    margin-bottom: 0;

    h2 {
      padding-top: 0;
    }

    .logo-detail {
      bottom: -2em;
      left: 1em;
    }
  }

  // Single
  .labomba .single-post {
    margin-bottom: 2em;

    h2 {
      font-size: rem(30);
      line-height: rem(35);
      margin-bottom: 0.5em;
      margin-top: 1em;
    }
  }
}
