// Font
@font-face {
  font-family: "DIN-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN-Bold"), url("../fonts/DIN-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light Regular"),
    url("../fonts/Gotham-Light.woff") format("woff");
}

//Functions
@function rem($pixels) {
  @return $pixels / 16 + rem;
}

// Variaveis
$paragrafo: 16;
$vermelho: #ff1516;
$amarelo: #ffa800;
$azul: #0a0b0c;
$laranja: #dc6325;

p {
  font-size: rem($paragrafo);
  color: white;
  font-family: "Gotham Light Regular";
}

h2 {
  font-family: "DIN-Bold";
  text-transform: uppercase;
  font-size: rem(80);
  color: $amarelo;
}

h3 {
  @extend h2;
  font-size: rem(24);
  text-align: right;
  padding: 1em 0;
}

#destaque {
  background-color: $vermelho;
  background-image: url(../img/cases/coca/fundo_destaque.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top left;

  #video {
    padding-bottom: 2em;
    margin-top: -5em;

    img {
      max-width: 300px;
      position: relative;
    }

    #cartas {
      img {
        right: 9em;
        top: 27em;
      }
    }

    #italia {
      img {
        left: -3em;
        bottom: 6em;
        z-index: 3;
        transform: rotate(-10deg);
      }
    }
  }
}

.detail {
  background-color: $vermelho;
  background-image: url(../img/cases/coca/fundo_naipes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &-2 {
    background-image: url(../img/cases/coca/fundo.png);
    background-size: contain;
    background-color: $amarelo;
  }
}

#matryoshka {
  padding-top: 10em;

  img {
    width: 650px;
    position: relative;
    right: 19em;
    bottom: 7.5em;
  }

  p {
    &::after {
      content: url(../img/cases/coca/frame_paragrafh.svg);
      position: relative;
      bottom: 2.5em;
      left: 3em;
    }
  }
}

#naipes {
  &::before {
    content: url(../img/cases/coca/naipe_detail.png);
    position: absolute;
    left: -7em;
  }

  #ilustra {
    img {
      width: 600px;
      position: relative;
      bottom: 9em;
    }
  }
}

#cartas {
  background-image: url(../img/cases/coca/cartas/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  img {
    padding: 1em 0;
  }
}

#ilustracoes {
  text-align: center;
  background-image: url(../img/cases/coca/ilustras/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  img {
    max-width: 300px;
  }

  .slider {
    padding: 1em;
    margin: 3em 0;

    img {
      margin: 0 1em;
    }
  }

  #brasil {
    &::after {
      content: url(../img/cases/coca/ilustras/bar_brasil.png);
      position: relative;
      bottom: 10em;
      right: 4em;
      height: 100px;
    }
  }

  #alemanha {
    &::after {
      content: url(../img/cases/coca/ilustras/bar_alemanha.png);
      position: relative;
      bottom: 10em;
      right: 4em;
      height: 100px;
    }
  }

  #italia {
    &::after {
      content: url(../img/cases/coca/ilustras/bar_italia.png);
      position: relative;
      bottom: 10em;
      right: 4em;
      height: 100px;
    }
  }

  #argentina {
    &::after {
      content: url(../img/cases/coca/ilustras/bar_argentina.png);
      position: relative;
      bottom: 10em;
      right: 4em;
      height: 100px;
    }
  }
}

#verso {
  background-image: url(../img/cases/coca/verso/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  h2 {
    color: $vermelho;
  }

  &-image {
    position: relative;
    right: 1em;
    z-index: 1;
  }

  #brasil,
  #russia {
    width: 50px;
    padding: 2em 0;
    display: inline-block;
  }

  #brasil {
    &::after {
      content: url(../img/cases/coca/verso/brasil_line.png);
      position: relative;
      right: 19.1em;
    }
  }

  #russia {
    &::after {
      content: url(../img/cases/coca/verso/russia_line.png);
      position: relative;
      right: 12.5em;
      bottom: 2.5em;
    }
  }

  #logos {
    width: 250px;
  }
}

// Breakpoint
// Celular
@media (max-width: 575.98px) {
  h3 {
    font-size: rem(35) !important;
    text-align: left;
  }

  h2 {
    font-size: rem(50);
  }

  #destaque {
    #video {
      padding: 1em 0;
    }
  }

  #matryoshka {
    padding-top: 5em;

    p {
      &::after {
        bottom: 2em;
        left: 0.5em;
      }
    }
  }

  #naipes {
    &::before {
      left: -14em;
    }

    #icones {
      padding: 2em;
    }

    #ilustra {
      img {
        width: 600px;
        position: relative;
        bottom: 9em;
      }
    }
  }

  #ilustracoes {
    img {
      max-width: 300px;
      width: auto;
    }

    #brasil,
    #alemanha,
    #italia,
    #argentina {
      &::after {
        position: absolute;
        bottom: 6em;
        right: -50em;
        height: 100px;
      }
    }
  }

  #verso {
    padding-bottom: 3em;

    #brasil,
    #russia {
      text-align: center;
      width: 150px;
      padding: 3em 0;
    }

    #brasil {
      &::after {
        right: 16.1em;
      }
    }

    #russia {
      &::after {
        right: 10em;
      }
    }

    #logos {
      width: 250px;
    }
  }
}

// iPad
@media (max-width: 1024px) {
  h3 {
    font-size: rem(35) !important;
  }

  h2 {
    font-size: rem(60);
  }

  #destaque {
    #video {
      padding: 4em 0;

      img {
        max-width: 200px;
        position: relative;
      }

      #cartas {
        right: 8em;
        top: 12em;
      }

      #italia {
        img {
          left: 0;
          bottom: 5em;
        }
      }
    }
  }

  #matryoshka {
    img {
      width: 500px;
      bottom: 4em;
    }

    p {
      &::after {
        left: 0em;
      }
    }
  }

  #naipes {
    &::before {
      left: -13em;
    }

    #ilustra {
      img {
        width: 300px;
        bottom: 0em;
      }
    }
  }

  #ilustracoes {
    img {
      max-width: 200px;
    }

    #brasil,
    #alemanha,
    #italia,
    #argentina {
      &::after {
        bottom: 9em;
        right: 1em;
      }
    }
  }

  #verso {
    padding: 5em 0;

    #brasil,
    #russia {
      width: 130px;
    }

    #brasil,
    #russia {
      &::after {
        content: none;
      }
    }

    #logos {
      width: 250px;
    }
  }
}
