// Font
@font-face {
  font-family: "Gotham Book";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book"), url("../fonts/GothamBook.woff") format("woff");
}

@font-face {
  font-family: "Gotham Book Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Book Italic"),
    url("../fonts/Gotham-BookItalic.woff") format("woff");
}

//Functions
@function rem($pixels) {
  @return $pixels / 16 + rem;
}

// Variaveis
$paragrafo: 16;
$fundo: #1b0122;

body {
  background-color: $fundo;
  color: white;
  font-family: "Gotham Book";
}

h1 {
  font-family: "Gotham Book Italic";
  font-size: rem(28);
}

main {
  background-image: url(../img/cases/martelab/fundo-main.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10em 0;
  margin: 5em 0;

  #logo {
    padding-top: 2em;
    margin-left: 4em;
  }
}

#seta {
  img {
    max-height: 70px;
  }
}

#explicacao {
  #logo {
    img {
      max-width: 500px;
      padding-top: 5em;
    }
  }

  #astronauta {
    background-image: url(../img/cases/martelab/fundo-explicacao.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10em;

    #personagem {
      max-width: 700px;
    }

    h2 {
      @extend h1;
      max-width: 400px;
      margin: 0 auto;
      padding: 2em 0;
    }

    #logo {
      max-width: 300px;
    }
  }

  #video {
    padding: 7em 0;
  }
}

#cores {
  background-image: url(../img/cases/martelab/fundo-cores.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20em 0;
  margin-top: -10em;
}

#mockups {
  #copo {
    margin-bottom: -4em;
    padding: 0 35em;
  }

  #cartao {
    background-image: url(../img/cases/martelab/fundo-cartao.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10em 0;
    margin-top: -10em;

    img {
      margin-top: -10em;
    }
  }
}

// Breakpoints
// Mobile// Tablets
@media (max-width: 1024px) {
  #mockups {
    #copo {
      padding: 0 17em;
    }

    #cartao {
      padding: 8em 0;
      background-size: cover;

      img {
        margin-top: -6em;
      }
    }
  }
}

@media (max-width: 575.98px) {
  main {
    background-position: -6em -32em;
    padding: 5em 0;
    margin: 0;
  }

  h1 {
    padding-top: 1em;
  }

  #explicacao {
    #logo {
      img {
        max-width: 300px;
      }
    }

    #astronauta {
      background-size: cover;
      margin-top: 4em;

      #personagem {
        max-width: 300px;
        width: auto;
      }

      #logo {
        max-width: 200px;
      }
    }
  }

  #mockups {
    #copo {
      padding: 0 5em;
    }

    #cartao {
      padding: 8em 0;
      background-size: cover;

      img {
        margin-top: -6em;
      }
    }
  }
}
