// Font
@font-face {
  font-family: "Kandide";
  font-style: normal;
  font-weight: normal;
  src: local("Kandide"), url("../fonts/KANDIDE_.woff") format("woff");
}

//Functions
@function rem($pixels) {
  @return $pixels / 16 + rem;
}

// Variaveis
$amarelo: #ffcc00;
$rosa: #e51550;
$roxo: #9b2a79;
$laranja: #e24b1d;

body {
  background-color: $amarelo;
  color: black;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: rem(18);
}

h2 {
  font-family: "Kandide";
  font-size: rem(40);
}

#embalagens {
  h2 {
    margin-top: -0.7em;
  }

  section {
    padding: 5em 0;
  }

  img {
    padding: 0 15em;
  }

  #cashew {
    background-color: $rosa;
    color: white;
  }

  #passion {
    background-color: $roxo;
    color: white;
  }

  #coconut {
    background-color: $laranja;
    color: white;
  }
}

#rodape-case {
  padding: 10em 0;

  #garrafa {
    padding: 10em 5em;
  }

  #detail {
    max-width: 200px;
  }

  #guarana {
    padding: 2em 0;
  }
}

// Breakpoints
// Celular
@media (max-width: 575.98px) {
  #embalagens {
    h2 {
      margin-top: 1em;
    }

    img {
      padding: 0;
    }
  }

  #rodape-case {
    padding: 5em 0;

    #garrafa {
      padding: 5em 0em;
    }
  }
}

// Tablets
@media (max-width: 1024px) {
  #embalagens {
    img {
      padding: 0 3em;
    }
  }

  #rodape-case {
    padding: 5em 0;

    #garrafa {
      padding: 5em 0em;
    }
  }
}
