.cases-page {
  header {
    margin-bottom: 200px;
    h1 {
      padding: 50px 0;
      font-size: 50px;
      width: 100%;
      text-align: center;
    }
    .list-cases {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      a {
        transform: scale(0.9);
        transition: all ease 0.2s;
        text-decoration: none;
        color: #fff;
        h3 {
          opacity: 0.6;
          transition: all ease 0.2s;
        }
        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        &:hover {
          transform: scale(1);
          h3 {
            opacity: 1;
          }
        }
      }
    }
  }
}

.case-page {
  header {
    margin: 100px auto 180px auto;
    padding: 0;
    width: 70%;
  }
  h1 {
    padding: 50px 0;
    font-size: 50px;
  }
  .content {
    width: 100%;
    line-height: 0;
    text-align: center;
    .videos {
      display: flex;
      justify-content: space-between;
    }
    iframe {
      max-width: 1500px;
      max-height: 380px;
      height: -webkit-fill-available;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  footer {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #aaa;
    }
  }
}

@media (max-width: 768px) {
  .case-page {
    .content {
      .videos {
        display: block;
      }
    }
  }
}
