* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  // Responsive Fonts
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  height: 100%;
  background-color: $body-background-color;
  color: $body-color-text;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background: transparent;
  user-select: none;
}

.header_footer.fixed {
  position: fixed;
  z-index: 99;
  top: 90%;

  .header_footer-scroll {
    display: none;
  }
}

.nav_content-logo.fixed {
  position: fixed;
  z-index: 99;
}

.flickity-viewport {
  height: 400px !important;
}

.button {
  color: $amarelo;
  text-decoration: none;
  padding: 0.7em 3em;
  border: 2px solid $amarelo;
  width: fit-content;
  transition: all ease 0.4s;

  &:hover {
    color: #fff;
    border-color: #fff;
    opacity: 0.7;
  }
}
