nav {
  z-index: 2;
  position: relative;

  .nav_content {
    margin-top: em(65);
    display: flex;
    justify-content: space-between;

    &-menu {
      display: flex;

      &-briefing {
        position: fixed;
        right: 8%;
        font-size: em(20);
        margin-right: 2em;
        color: #fff;
        transition: all ease 0.3s;

        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }
      }

      .nav_icon {
        width: 40px;
        height: 100%;
        position: fixed;
        right: 5.5%;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 4px;
          width: 40px;
          background: #fff;
          opacity: 1;
          transform: rotate(0deg);
          transition: 0.35s ease-in-out;

          &:nth-child(1) {
            top: 0px;
            transform-origin: left center;
          }

          &:nth-child(2) {
            top: 12px;
            left: 12px;
            width: 70%;
            transform-origin: left center;
          }
        }

        &.open span {
          background: $magenta;

          &:nth-child(1) {
            transform: rotate(45deg);
            top: -3px;
            left: 8px;
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
            top: 25px;
            left: 8px;
            width: 100%;
          }
        }
      }
    }
  }
}

.nav_menu {
  padding: 0 5em;
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &_items {
    list-style: none;

    &-link {
      margin-bottom: em(35);

      a {
        color: #fff;
        text-decoration: none;
        font-size: em(50);
        transition: all ease 0.3s;

        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }
      }
    }
  }

  &_article {
    max-width: 625px;

    &-last {
      color: $magenta;
      display: flex;
      align-items: center;

      .line {
        width: em(70);
        height: 2px;
        margin-right: em(40);
        background-color: $cinza;
      }
    }

    &-title {
      font-size: em(30);
      line-height: em(20);
      margin-top: 1em;
    }

    &-resume {
      margin: 2em 0;
    }

    &-tags {
      color: $magenta;
    }
  }

  &.open {
    display: grid;
  }
}
