.metodology {
  header {
    .header {
      &_footer {
        position: fixed;
        top: 89vh;
        width: 90%;
      }
    }
  }

  .nav_content-logo {
    position: fixed;
  }

  &-header {
    max-width: 625px;
    height: 100%;
    margin-top: 5%;

    h1 {
      font-size: em(50);
      line-height: em(20);
      margin-bottom: 1em;
    }

    p {
      margin-top: 1em;
    }
  }

  &-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0.4;
    z-index: -9999;
  }
}

// Effects
.effect {
  padding-right: 15em;

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: em(60);
      font-weight: bold;
      font-style: italic;
      position: relative;
      right: 12%;
      top: 4%;
      transition: all ease-in 0.3s;
    }

    h2 {
      z-index: -1;
      position: absolute;
      top: 140%;
      left: 35%;
      font-size: em(110);
      line-height: em(16);
      font-weight: bold;
      text-transform: uppercase;
      transform: rotate(-90deg);
      color: $magenta;
      transition: all ease-in 0.3s;
    }

    &-image {
      position: relative;
      z-index: -2;
      top: -7%;
      left: 0;
      width: 25%;
      height: auto;
      transition: all ease-in 0.3s;
    }
  }

  &-fisiology {
    &.transform {
      p {
        font-size: em(70);
        right: 30%;
        top: 105%;
      }

      h2 {
        top: 250%;
        left: 5%;
        font-size: em(70);
        line-height: em(18);
      }

      .effect-details-image {
        position: relative;
        top: 95%;
        left: -15%;
      }
    }
  }

  &-termic {
    h2 {
      top: 340%;
      font-size: em(150);
      line-height: em(15);
    }

    &.transform {
      p {
        font-size: em(70);
        right: 30%;
        top: 105%;
      }

      h2 {
        top: 450%;
        left: 5%;
        font-size: em(120);
        z-index: -1;
      }

      .effect-details-image {
        position: relative;
        z-index: -2;
        top: 95%;
        left: -15%;
      }
    }
  }

  &-mecanic {
    h2 {
      top: 540%;
      left: 25%;
      font-size: em(140);
      line-height: em(15);
    }

    p {
      right: 15%;
      top: 10%;
    }

    .effect-details-image {
      left: 10%;
    }

    &.transform {
      p {
        font-size: em(40);
        right: 20%;
        top: 100%;
      }

      h2 {
        top: 650%;
        left: 15%;
        font-size: em(90);
        z-index: -1;
      }

      .effect-details-image {
        width: 20%;
        top: 95%;
        left: -8%;
      }
    }
  }

  &-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-paragraph {
      max-width: 500px;
      font-size: em(20);
      line-height: em(25);
    }
  }
}
