.projects_content {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 40px;
  padding-left: 5em;
  margin-bottom: 7em;

  &-dots {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-prev svg {
      cursor: pointer;
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      transition: all ease 0.4s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-next svg {
      fill: none;
      stroke: $amarelo;
      stroke-width: 2;
      cursor: pointer;
      transition: all ease 0.4s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-carousel {
    &-item {
      width: 500px;

      a {
        color: #fff;
        text-decoration: none;
      }

      img {
        width: 90%;
        height: auto;
      }
    }
  }
}
