.studio {
  .about {
    &_content {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 60%;

      &-title {
        font-size: em(60);
        width: 100%;
      }

      &-paragraph {
        font-size: em(16);
        line-height: 22px;
        width: 100%;
      }
    }
  }

  .universe {
    &_content {
      padding: 0 5em;
      margin: 0 auto;

      &-title {
        font-size: em(60);
        width: 100%;
      }

      &-paragraph {
        font-size: em(16);
        line-height: 22px;
        width: 100%;
      }
    }
  }

  &_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: -9999;
  }

  &_lamp {
    position: fixed;
    top: 80%;
    left: 85%;
  }
}
